:host{
    display: flex;
    
    background-color:  #2C3E50;
    color: #F6F5F2;
    padding: 10px 20px;
    justify-content: space-between;
    height: 3vh;
    font-size: 14pt;
    font-weight: bolder;
}

span{
    cursor: pointer;
}