<h1>Your products List</h1>
<section id="products-section">
    <div class="container">
        <div class="item elevation">
            <h3 class="item-name">Iphone X</h3>
            <span>Last Price: 9$</span>
           
            <div class="buttons-container">
            <div class="button elevation">View</div>
            <div class="button elevation    ">Stop Tracking</div>
        </div>
        </div>
        <div class="item elevation">
            <h3 class="item-name">Iphone X</h3>
            <span>Last Price: 9$</span>
           
            <div class="buttons-container">
            <div class="button elevation">View</div>
            <div class="button elevation    ">Stop Tracking</div>
        </div>
        </div>
        <div class="item elevation">
            <h3 class="item-name">Iphone X</h3>
            <span>Last Price: 9$</span>
           
            <div class="buttons-container">
            <div class="button elevation">View</div>
            <div class="button elevation    ">Stop Tracking</div>
        </div>
        </div>
        <div class="item elevation">
            <h3 class="item-name">Iphone X</h3>
            <span>Last Price: 9$</span>
           
            <div class="buttons-container">
            <div class="button elevation">View</div>
            <div class="button elevation    ">Stop Tracking</div>
        </div>
        </div>
        <div class="item elevation">
            <h3 class="item-name">Iphone X</h3>
            <span>Last Price: 9$</span>
           
            <div class="buttons-container">
            <div class="button elevation">View</div>
            <div class="button elevation    ">Stop Tracking</div>
        </div>
        </div>
        <div class="item elevation">
            <h3 class="item-name">Iphone X</h3>
            <span>Last Price: 9$</span>
           
            <div class="buttons-container">
            <div class="button elevation">View</div>
            <div class="button elevation    ">Stop Tracking</div>
        </div>
        </div>
        <div class="item elevation">
            <h3 class="item-name">Iphone X</h3>
            <span>Last Price: 9$</span>
           
            <div class="buttons-container">
            <div class="button elevation">View</div>
            <div class="button elevation    ">Stop Tracking</div>
        </div>
        </div>
        <div class="item elevation">
            <h3 class="item-name">Iphone X</h3>
            <span>Last Price: 9$</span>
           
            <div class="buttons-container">
            <div class="button elevation">View</div>
            <div class="button elevation    ">Stop Tracking</div>
        </div>
        </div>
        <div class="item elevation">
            <h3 class="item-name">Iphone X</h3>
            <span>Last Price: 9$</span>
           
            <div class="buttons-container">
            <div class="button elevation">View</div>
            <div class="button elevation    ">Stop Tracking</div>
        </div>
        </div>
        <div class="item elevation">
            <h3 class="item-name">Iphone X</h3>
            <span>Last Price: 9$</span>
           
            <div class="buttons-container">
            <div class="button elevation">View</div>
            <div class="button elevation    ">Stop Tracking</div>
        </div>
        </div>
        
    </div>
    <div class="button elevation" >Add product</div>
</section>