<span style="margin-top: 10%;">Features</span>
<h2>Stay Informed, Stay Ahead</h2>
<p>Our platform provides you with the tools to track product prices, analyze trends, and stay informed about the latest market changes.</p>
<div id="features">
    <div id="features-list">
<ul>
  <li>  <h3>Price Tracking</h3>
    <span>Monitor the price changes of your favorite products and get alerts when prices drop.</span></li>
           <li> <h3>Trend Analysis</h3>
            <span>Visualize price trends over time and make informed purchasing decisions.</span></li>
    

</ul>
    </div>
    <img src="../../assets/graph.PNG" alt="">
</div>