/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
body{
    height: fit-content;
    width: fit-content;
    min-width: calc(100vw - (100vw - 100%));
    background-color: whitesmoke;
}
html{
    min-width: calc(100vw - (100vw - 100%));

    min-height: 100vh; 
   
}

